
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #f68300, #f5f059); 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgb(0, 0, 0);
    width: 100%;
    max-width: 400px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fa934e;
}

.login-container label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 500;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
}

.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
    border-color: #ff7f50;
}

.login-container input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    background-color: #ea541e;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container input[type="submit"]:hover {
    background-color: #fb6d41;
}

.login-link {
    text-align: center;
    margin-top: 15px;
}

.login-link a {
    color: #e67e22;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}

.success {
    color: green;
    margin-bottom: 10px;
    text-align: center;
}
